img {
  height: 230px;
  margin-top: 10px;
}

.container {
  background-color: #6670E1;
  margin-top: 150px
}

.card-color {
  background-color: #92D160;
}

.card-color__header {
  background-color: #209591;
  font-weight: bold;
}

.card-color__registered {
  background-color: #F7DF1D;
  font-weight: bold;
}


